<div class="product">
  <div class="actions">
    <% if session[:cart].nil? == false %>
      <% if session[:cart].include?(product.id) %>
        <%= link_to 'Remove from Shopping Cart', remove_from_cart_path(product), :method => :post %>
      <% else %>      
        <%= link_to 'Add to Shopping Cart', add_to_cart_path(product), :method => :post %>
      <% end %>
    <% else %>      
      <%= link_to 'Add to Shopping Cart', add_to_cart_path(product), :method => :post %>
    <% end %>
    <%= link_to 'Purchase Now', single_checkout_path(product), :method => :post %>
  </div> 
  <h2>
    <%= link_to product.name, show_path(product) %>
  </h2>
  <% if product.image.present? %>
    <p>
      <%= image_tag product.image %>
    </p>
  <% else %>
    <p class="no_image">
      <em>No Product image.</em>
    </p>
  <% end %>
  <p>
    <b>Description:</b>
    <%= product.description  %>
  </p>
   <p>
    <b>Price:</b>
    <%= number_to_currency(product.price)  %>
  </p>
  <p>
    <% if product.sale %>
      It's on SALE!
    <% else %>
      Not on sale right now, check back later
    <% end %>
  </p>
</div>